
    <form action="/add" method="POST">
        <p>Book Title: </p>
        <input type="text" name="Book Title" value="" placeholder="Please insert the book title">
        <br>
        <p>Author First Name: </p>
        <input type="" name="" value="">
    </form>
