<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form action="/add" method="POST">
        <p>Book Title: </p>
        <input type="text" name="Book Title" value="" placeholder="Please insert the book title">
        <br>
        <p>Author First Name: </p>
        <input type="" name="" value="">
    </form>
    </body>
</html>