<h2>List of Books</h2>

<ol>
<% for( var i = 0; i < bookList.length; i++){ %>
    <li><%= bookList[i]['Book Title'] %>
    <a href='/books/delete/<%= bookList[i]["ID"] %>'>Delete</a></li>
    <% } %>
</ol>